html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.master-card {
  border: 1px solid #32302f;
  background-color: #1d2021;
  width: 880px;
  min-height: 310px;
}

.navbar {
  color: aqua;
  background-color: white;
  width: 88px;
  height: 31px;
}